@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
}

.container{
    width: 450px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/*Entrada de las tareas*/

main .section-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: var(--color-background);
    overflow: hidden;
    font-size: 50px;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0px 0px 10px 1px #ffff;
    margin-top: 25px;
}

main .section-input input{
    border-radius: 10px;
    border: 0;
    min-height: 50px;
    width: 100%;
    margin-right: 2%;
}

main .section-input i:hover{
    color: #2a26258a;
    cursor: pointer;
}

/*Fin entrada de las tareas*/

/*Tareas pendientes*/

.section-tareas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.section-tareas ul{
    list-style: none;
    width: 100%;
}

.section-tareas ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background: #504f4f;
    border-radius: 10px;
    padding: 10px;
}

.section-tareas ul li i{
    cursor: pointer;
    font-size: 30px;
}

.section-tareas ul li i:hover{
    cursor: pointer;
    color: #2a2625b9;
    font-size: 30px;
}

.section-tareas ul li p{
    padding: 0 10px 0 10px;
}


.tacharContainer{
    background-color: gray !important;
}

.tacharTexto{
    text-decoration: line-through;
    color: #b8b8b8;
}


